<% if @cuddles %>
<h1>My name is <%= @cuddles %></h1>
<% end %>
<form action="/named-cat">
  <input type="text" name="catname">
  <input type="submit" value="Submit">
</form>
<div>
  <img style='border: 3px dashed red' src='http://bit.ly/1eze8aE'>
</div>
